
  <div class="marka-menu">
      <li class="marka-menu-li"><a href=""><img src="~/xiaomi.png"></a></li>
      <li class="marka-menu-li"><a href=""><img src="~/poco.png"></a></li>
      <li class="marka-menu-li"><a href=""><img src="~/redmi.png"></a></li>
      <li class="marka-menu-li"><a href=""><img src="~/tecno.png"></a></li>
      <li class="marka-menu-li"><a href=""><img src="~/nothing.png"></a></li>
  </div>
 
  <div class="aside">
    <div class="nesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim1.Resimadi" alt="">
      <p>@ViewBag.Resim1.Bilgi</p>
      <p><b>@ViewBag.Resim1.Fiyat</b></p>
    </div>
    <div class="nesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim2.Resimadi" alt="">
      <p>@ViewBag.Resim2.Bilgi</p>
      <p><b>@ViewBag.Resim2.Fiyat</b></p>
    </div>
    <div class="nesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim3.Resimadi" alt="">
      <p>@ViewBag.Resim3.Bilgi</p>
      <p><b>@ViewBag.Resim3.Fiyat</b></p>
    </div>
  </div>
  <div class="aside">
    <div class="nesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim1.Resimadi" alt="">
      <p>@ViewBag.Resim1.Bilgi</p>
      <p><b>@ViewBag.Resim1.Fiyat</b></p>
    </div>
    <div class="nesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim2.Resimadi" alt="">
      <p>@ViewBag.Resim2.Bilgi</p>
      <p><b>@ViewBag.Resim2.Fiyat</b></p>
    </div>
    <div class="nesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim3.Resimadi" alt="">
      <p>@ViewBag.Resim3.Bilgi</p>
      <p><b>@ViewBag.Resim3.Fiyat</b></p>
    </div>
  </div>


